doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title
			block title
		link(rel="stylesheet", href="css/bundle.min.css")

	body.template-base
		include modules/all-modules
		include includes/header
		block content

		include includes/footer
		script(src="js/bundle.min.js")